{{#each parentsProps.fields}}
  <label class="form-label" for={{inputName}}>
    {{inputPlaceholder}}
  </label>
  <input
    name={{inputName}}
    class="input"
    type={{inputType}}
    placeholder={{inputPlaceholder}}
    id={{inputName}}
  />
{{/each}}