<div class="profile__wrapper">
  <aside class="profile__go-back">
    <a class="profile__link" href="../chats/chats.html">
      <img src={{svg.svgArrowLeft}} alt="Аватар пользователя" class="profile__arrow" />
    </a>
  </aside>
  <main class="profile">
    <div class="profile__data">
      <img class="img img_round profile__img" src={{svg.svgAvatarProfile}} alt="Аватар пользователя" />
      <h1 class="profile__owener">Максим</h1>
      <div class="profile__form-container">
        <!--  -->

        <form class="profile__form" id="profile">
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="email">Почта {{disabledInputs}}</label>
            {{#if disabledInputs}}
              <input disabled class="profile__input mb-1rem" type="email" name="email" value={{emailValue}} />
            {{else}}
              <input class="profile__input mb-1rem" type="email" name="email" value={{emailValue}} />
            {{/if}}
          </div>
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="login">Логин</label>
            <input disabled class="profile__input mb-1rem" type="text" name="login" value={{loginValue}} />
          </div>
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="first_name">Имя</label>
            <input disabled class="profile__input mb-1rem" type="text" name="first_name" value={{firstNameValue}} />
          </div>
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="second_name">Фамилия</label>
            <input disabled class="profile__input mb-1rem" type="text" name="second_name" value={{secondNameValue}} />
          </div>
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="display_name">Имя в чате</label>
            <input disabled class="profile__input mb-1rem" type="text" name="display_name" value={{displayNameValue}} />
          </div>
          <div class="profile__field">
            <label class="profile__label mb-1rem" for="phone">Телефон</label>
            <input disabled class="profile__input mb-1rem" type="text" name="phone" value="{{phoneNameValue}}"/>
          </div>
        </form>
        {{{passwordForm}}}
        <!--  -->
      </div>

      <div class="profile__control-wrapper">
        {{{controlsBtnsForm}}}
        {{{controlPassword}}}
      </div>
  </main>
</div>
{{{modal}}}
