<div class="chats__wrapper">
  <aside class="chats__aside">
    <div class="chats__top-btns">
      <button class="button chats__button button_b-r-5px button_blue">
        <a class="chats__link-to-profile" href="../profile/profile.html">
          Профиль</a>
      </button>
      <button class="button chats__button button_b-r-5px button_grey">
        <img src={{svgDefault.svgSearch}} alt="Поиск" class="chats__img" />
        Поиск
      </button>
      <div class="chats__search display-none">
        <img
          src={{svgDefault.svgSearch}}
          alt="Поиск"
          class="chats__img absolute"
        />
        <input
          class="chats__search-input button_grey"
          type="text"
          placeholder="Поиск"
        />
      </div>
    </div>
    <div class="chats__list-of-chats">
      {{{chatCards}}}
    </div>
  </aside>
  <main class="chats">
    <header class="chats__header">
      <div class="chats__current-chat">
        <img
          class="chats__current-chat-pic"
          src={{svgDefault.svgDefaultChatPic}}
          alt="картинка выбраного чата"
        />
        <p class="chats__current-chat-name">Андрей</p>
      </div>
      <img class="chats__menu-btn" src={{svgDefault.svgMenu}} alt="меню" />
    </header>
    {{{topMenu}}}

    <section class="chats__body">
      <div class="chats__messages">
        {{{bottomMenu}}}
        {{{message}}}
      </div>
      <form class="chats__footer" id="chats__send-msg-form">
        <img
          class="chats__file-menu"
          src={{svgDefault.svgSendFile}}
          alt="Прикрепить
    файл"
        />
        <input
          name="message"
          class="chats__input"
          type="text"
          placeholder="Сообщение"
        />
        <button class="chats__send-btn">
          <img
            class="chats__send"
            src={{svgDefault.svgArrowRight}}
            alt="Прикрепить файл"
          />
        </button>
      </form>
    </section>
    <div class="chats__no-chat-selection display-none">
      <p class="chats__no-chat-selection-p">
        Выберите чат чтобы отправить сообщение
      </p>
    </div>
  </main>
</div>
{{{modal}}}