{{#each parentsProps.messages}}
  {{#if my}}
    <div class="message message__my">
      <p class="message__my">{{text}}</p>
      <p class="message__time">{{time}}</p>
    </div>
  {{else}}
    <div class="message">
      <p class="">{{text}}</p>
      <p class="message__time">{{time}}</p>
    </div>
  {{/if}}
{{/each}}